

/* Special styling for WebKit/Blink */
input[type=range].displayslider::-webkit-slider-thumb {
    border: 10px solid #000000;
    background: #ffffff;
}

/* All the same stuff for Firefox */
input[type=range].displayslider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
}

/* All the same stuff for IE */
input[type=range].displayslider::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
}

input[type=range].displayslider::-moz-range-progress{
    background-color: white;
    width: 14px;
}

input[type=range].displayslider::-ms-fill-lower {
    background-color: white;
    width: 14px;
}