body {
    background: #222;
    color: #eee;
}

h1 {
    clear: both;
}

input[type=range] {
    -webkit-appearance: slider-vertical;
    height: 200px;
    width: 60px;
    margin-bottom: 2em;
}

input[type=range]:before {
    content: attr(value);
    color: #eee;
    font-family: monospace;
    text-align: center;
    width: 60px;
    display: block;
    color: #fff;
    position: absolute;
    margin-bottom: 2em;
}

input[type=range].displayslider{
    width: 10px;
    background-color: transparent;
    margin-right: 1em;
    margin-left: -0.9em;
    opacity: 0.3;
    pointer-events:none;
}

#fade{
    -webkit-appearance: slider-horizontal;
    height: 60px;
    width: 300px;
    margin-bottom: 0em;
}

.device {
    clear: both;
    padding-top: 1em;
}

.channel {
    text-align: center;
    float: left;
}

.btn {
    margin-bottom: 1em;
}

.cb-max-w {
    max-width: 400px;
}

#blackout, #strobeMode, #fadeBlackMode, #randomColorMode, #shuffleColorMode, #randomDeviceMode, #shuffleDeviceMode{
    transition: color 200ms ease;
}

#blackout.blink, #strobeMode.blink, #fadeBlackMode.blink, #randomColorMode.blink, #shuffleColorMode.blink, #randomDeviceMode.blink, #shuffleDeviceMode.blink{
    color:transparent;
}

#easingSelect {
    margin-top: 5px;
    margin-right: 15px;
    float: left;
}

#fade {
    margin-top: -25px;
    margin-bottom: -20px;
}
